@font-face {
  font-family: Konstant Grotesk;
  src: url(../public/KonstantGrotesk.otf) format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

$color-primary: #ff0101;
$color-black: #1f1f1f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}